<div class="container">
    <fieldset class="fieldset">
        <legend>
            <h2 class="text-center mt-3">Log In</h2>
        </legend>
        
        <div class=" row">
            <form [formGroup]="logInForm" >
                <div class="form-group">
                    <label class="h5">Email</label>
                    <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="h5">Password</label>
                    <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" (click)="onSubmit()">LogIn</button>
                    <button class="text-light btn btn-danger float-right" (click)="onRegister()">SignUp</button>
                </div>
            </form>
        </div>
        <div class="row" id="forgotPassword" >
            <a routerLink="/forgotPassword">Forgot Password</a>
        </div>
    </fieldset>
</div>